<nav class="navbar navbar-expand-lg fixed-top navbar-default bg-white">
  <div class="container-fluid">
    <img src="/assets/images/logo.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="class">
           <a class="position-relative">
              <div class="cart-no">5</div>
              <i class="fa fa-shopping-cart fa-3x mt-4 text-dark"></i>
           </a>
        </div>
        <div class="class">

            <a class="btn btn-primary m-4">Sign Up</a>
            <a class="btn btn-primary ml-4">Sign In</a>
       </div>
      </div>
    </div>
  </div>
</nav>
