#navbarColor01 ul li a
{
    text-align:center;
}
.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: lrem;
  background: rgb(255, 0, 0);
  color: white;
  text-align: center;
  top: -20px;
  left:15px;
  bottom: 15px;
}
