<nav class="navbar navbar-expand-lg fixed-top navbar-default bg-white">
  <div class="container-fluid">
    <img src="/assets/images/logo.png" alt="logo" class="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-center" id="navbarColor01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active">Error</a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="class">
           <a routerLink="/basket" class="position-relative">
              <div *ngIf="(basket$ | async)"  class="cart-no">{{(basket$|async).items.length}}</div>
              <i class="fa fa-shopping-cart fa-3x mt-4 text-dark"></i>
           </a>
        </div>
        <div class="class">
          <ng-container *ngIf="(curruntUser$ | async)===null">
            <a routerLink="./account/register" class="btn btn-primary m-4">Sign Up</a>
            <a routerLink="./account/login" class="btn btn-primary ml-4">Sign In</a>
          </ng-container>
          <ng-container *ngIf="curruntUser$ | async">
            <a href="/shop">Welcome:{{(curruntUser$ | async).displayName}}</a>
            <a (click)="logout()" class="btn btn-danger ml-4">Log Out</a>
          </ng-container>
       </div>
      </div>
    </div>
  </div>
</nav>
